<h1>Novo Usuário</h1>
<p-blockUI [blocked]="boolLoading">
  <p-progressSpinner [style]="{width: '50px', height: '50px'}" styleClass="custom-spinner" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>
</p-blockUI>
<p-toast  position="top-center"></p-toast>

<div class="card">
  <div class="formgrid grid">
      <div class="field col-12 md:col-6 sm:col-4">
          <label for="nome">Nome</label>
          <input [(ngModel)]="objUsr.nomeUsuario" id="nome" type="text" class="inputfield w-full" pInputText />
      </div>
      <div class="field col-12 md:col-3 sm:col-4">
          <label for="cpf">CPF</label>
          <input [disabled]="boolLoading" [(ngModel)]="objUsr.cpfUsuario" id="cpf" type="text" class="inputfield w-full" [dropSpecialCharacters]="false" mask="CPF_CNPJ" pInputText />
      </div>
      <div class="field col-6 md:col-3 sm:col-4">
          <label for="status">Status</label>
          <p-selectButton [disabled]="boolLoading" id="status"  [options]="[{label: 'Inativo', value: false}, {label: 'Ativo', value: true}]" [(ngModel)]="objUsr.statusUsuario" optionLabel="label" optionValue="value"></p-selectButton>
      </div>
      <div class="field col-6 md:col-2 sm:col-4">
        <label for="perfil">Perfil</label><br>
        <p-dropdown [disabled]="boolLoading" id="perfil" [options]="listaPerfil" [(ngModel)]="perfilSelecionado" placeholder="Selecione" optionLabel="descPerfil"></p-dropdown>
      </div>
      <div class="pt-2 field col-12 md:col-8 sm:col-12 text-center">
        <!-- <br> -->
        <div class="grid text-center">
          <div class="field col-12 sm:col-5 text-center">
            <label for="senha">Nova senha</label><br>
            <p-password [ngClass]="{'border-orange-500 border-3': senhaNaoConfere}" [(ngModel)]="senha" (change)="ValidaSenhas();" id="senha" [toggleMask]="true"></p-password>
          </div>
          <div class="field col-12 sm:col-5 text-center">
            <label for="novaSenha">Repita a senha</label><br>
            <p-password [ngClass]="{'border-orange-500 border-3': senhaNaoConfere}" id="novaSenha" (change)="ValidaSenhas();" [(ngModel)]="objUsr.senhaUsuario" [feedback]="false" [toggleMask]="true"></p-password>
            <br><b><small *ngIf="senhaNaoConfere" id="novaSenha-help" class="p-error">{{mensagemSenha}}</small></b>
          </div>
        </div>
      </div>
  </div>
</div>

<hr>

<div class="text-right">
  <button [disabled]="boolLoading" (click)="CancelaNovoUsuario();" routerLinkActive="router-link-active"  pButton icon="pi pi-times" type="button" class="p-button-raised p-button-danger p-button-sm" label="Cancelar" styleClass="p-mr-2"></button>
  &nbsp;<p-button [disabled]="boolLoading" (click)="Salvar()" class="p-button-raised" icon="pi pi-check" label="Salvar" styleClass="p-mr-2 p-button-sm"></p-button>
</div>

<p-confirmDialog [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
