<h1>PARÂMETROS VRP</h1>
<p-blockUI [blocked]="boolLoading"></p-blockUI>
<p-toast  position="top-center"></p-toast>

<div *ngIf="!boolEditarParametros">
  <p-table
  [value]="listaVRP"
  styleClass="p-datatable-gridlines p-datatable-striped"
  >
    <ng-template pTemplate="header">
        <tr>
            <th style="text-align: center;">Descrição</th>
            <th style="text-align: center;">Bairro</th>
            <th style="text-align: center;">Cidade</th>
            <th style="text-align: center;">Status</th>
            <th style="text-align: center;">Ações</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
        <tr>
            <td style="text-align: center;">{{item.descrVRP}}</td>
            <td style="text-align: center;">{{item.bairro}}</td>
            <td style="text-align: center;">{{item.descCidade}}</td>
            <td style="text-align: center;">{{item.status ? 'Ativa' : 'Inativa'}}</td>
            <td style="text-align: center;">
              <i class="pi pi-pencil cursorMouse" title="Editar" style="color: rgb(13, 72, 210);" (click)="EditarParametros(item.idVRP);"></i>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
          <td style="text-align: center;" colspan="5">Sem informações a serem exibidas.</td>
      </tr>
  </ng-template>
  </p-table>
</div>

<br>
<div *ngIf="boolEditarParametros">
  <div class="mb-3">
    <div *ngIf="!novoparametro" style="text-align: right;">
      <br>
      <button pButton type="button" label="Novo" class="p-button-raised p-button-primary" (click)="novoparametro = true;"></button>
      <br>
    </div>

    <div *ngIf="novoparametro">
      <div class="formgrid grid">
        <div class="field col-12 md:col-4 sm:col-4 text-center">
            <label for="pressao">Pressão</label>
            <input [ngClass]="{'border-orange-500 border-3': pressaoInvalida}" (blur)="ValidaInformacoesNovoParametro();" [(ngModel)]="objParametro.pressao" id="pressao" type="number" class="inputfield w-full" pInputText />
            <br><b><small *ngIf="pressaoInvalida" id="novaSenha-help" class="p-error">Pressão inválida!</small></b>
        </div>
        <div class="field col-12 md:col-4 sm:col-4 text-center">
            <label for="horaInicial">Hora Inicial</label>
            <input [ngClass]="{'border-orange-500 border-3': horaInInvalida}" (blur)="ValidaInformacoesNovoParametro();" [(ngModel)]="objParametro.horaInicial" id="horaInicial"[dropSpecialCharacters]="false" mask="00:00" type="text" class="inputfield w-full" pInputText />
            <br><b><small *ngIf="horaInInvalida" id="novaSenha-help" class="p-error">Hora inválida!</small></b>
        </div>
        <div class="field col-6 md:col-4 sm:col-4 text-center">
            <label for="horaFinal">Hora Final</label>
            <input [ngClass]="{'border-orange-500 border-3': horaFiInvalida}" (blur)="ValidaInformacoesNovoParametro();" [(ngModel)]="objParametro.horaFinal" id="horaFinal"[dropSpecialCharacters]="false" mask="00:00" type="text" class="inputfield w-full" pInputText />
            <br><b><small *ngIf="horaFiInvalida" id="novaSenha-help" class="p-error">Hora inválida!</small></b>
        </div>
      </div>


      <div style="text-align: right;" >
        <button pButton type="button" label="Cancelar" class="p-button-raised p-button-danger" (click)="novoparametro = false;"></button>
        &nbsp;<button pButton type="button" label="Salvar" class="p-button-raised p-button-primary" (click)="SalvarNovoParametro();"></button>
      </div>
    </div>
  </div>

  <hr>

  <div class="card">
    <p-table
    [value]="listaParametrosVRP"
    dataKey="idParametro"
    editMode="row"
    styleClass="p-datatable-responsive-demo"
    >
        <ng-template pTemplate="header">
            <tr>
                <th style="text-align: center;">Pressão</th>
                <th style="text-align: center;">Hora Inicial</th>
                <th style="text-align: center;">Hora Final</th>
                <th style="text-align: center;">Pressão Fds</th>
                <th style="text-align: center;">Status</th>
                <th style="text-align: center; width:8rem">Ação</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-editing="editing" let-ri="rowIndex">
            <tr [pEditableRow]="item">
                <td style="text-align: center;">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="item.pressao">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{item.pressao}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td style="text-align: center;">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="item.horaInicial" required>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{item.horaInicial}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td style="text-align: center;">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="item.horaFinal" required>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{item.horaFinal}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td style="text-align: center;">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="item.pressaoFds">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{item.pressaoFds}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td style="text-align: center;">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <p-dropdown [options]="statuses" [(ngModel)]="item.flStatus" [style]="{'width':'100%'}"></p-dropdown>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{item.flStatus ? 'Ativo' : 'Inativo'}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td style="text-align:center">
                    <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(item)" class="p-button-rounded p-button-text"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(item)" class="p-button-rounded p-button-text p-button-success p-mr-2"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(item, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
              <td style="text-align: center;" colspan="5">Sem informações a serem exibidas.</td>
          </tr>
      </ng-template>
    </p-table>
  </div>

  <hr>

  <div style="text-align: right;">
    <button pButton type="button" label="Cancelar" class="p-button-raised p-button-danger" (click)="CancelarOperacao();"></button>
  </div>
</div>
