<h1>PARÂMETROS VRP</h1>
<p-blockUI [blocked]="boolLoading"></p-blockUI>
<p-toast  position="top-center"></p-toast>

<div *ngIf="!boolEditarParametros">
  <p-table
  [value]="listaVRP"
  styleClass="p-datatable-gridlines p-datatable-striped"
  >
    <ng-template pTemplate="header">
        <tr>
            <th style="text-align: center;">Descrição</th>
            <th style="text-align: center;">Bairro</th>
            <th style="text-align: center;">Cidade</th>
            <th style="text-align: center;">Status</th>
            <th style="text-align: center;">Ações</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
        <tr>
            <td style="text-align: center;">{{item.descrVRP}}</td>
            <td style="text-align: center;">{{item.bairro}}</td>
            <td style="text-align: center;">{{item.idCidade}}</td>
            <td style="text-align: center;">{{item.status ? 'Ativa' : 'Inativa'}}</td>
            <td style="text-align: center;">
              <i class="pi pi-pencil cursorMouse" title="Editar" style="color: rgb(13, 72, 210);" (click)="EditarParametros(item.idVRP);"></i>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
          <td style="text-align: center;" colspan="5">Sem informações a serem exibidas.</td>
      </tr>
  </ng-template>
  </p-table>
</div>

<br>
<div *ngIf="boolEditarParametros">
  <!-- <div class="p-field p-grid">
  <label for="tempoComunicacao" class="p-col-fixed" style="width:100px">Tempo de comunicação:</label>
  <div class="p-col">
      <input style="text-align: center;" id="tempoComunicacao" aria-describedby="tempoComunicacao-help" type="number" pInputText>
      <br><small id="tempoComunicacao-help">Mínimo 10 e máximo 60 minutos.</small>
  </div>
  </div>
  <br>
  <div class="p-field p-grid">
    <label for="fatorMultiplicacao" class="p-col-fixed" style="width:100px">Fator multiplicação:</label>
    <div class="p-col">
        <input style="text-align: center;" id="fatorMultiplicacao" aria-describedby="fatorMultiplicacao-help" type="number" pInputText>
        <br><small id="fatorMultiplicacao-help">Verifique o hidrômetro instalado.</small>
    </div>
  </div> -->

  <div class="card">
    <p-table
    [value]="listaParametrosVRP"
    dataKey="idParametro"
    editMode="row"
    styleClass="p-datatable-responsive-demo"
    >
        <ng-template pTemplate="header">
            <tr>
                <th>Pressão</th>
                <th>Hora Inicial</th>
                <th>Hora Final</th>
                <th>Status</th>
                <th style="width:8rem"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-editing="editing" let-ri="rowIndex">
            <tr [pEditableRow]="item">
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="item.pressao">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{item.pressao}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="item.horaInicial" required>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{item.horaInicial}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="item.horaFinal" required>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{item.horaFinal}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <p-dropdown [options]="statuses" [(ngModel)]="item.flStatus" [style]="{'width':'100%'}"></p-dropdown>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{item.flStatus ? 'Ativo' : 'Inativo'}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td style="text-align:center">
                    <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(item)" class="p-button-rounded p-button-text"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(item)" class="p-button-rounded p-button-text p-button-success p-mr-2"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(item, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
              <td style="text-align: center;" colspan="5">Sem informações a serem exibidas.</td>
          </tr>
      </ng-template>
    </p-table>
  </div>

  <!-- <p-table
  [value]="listaParametrosVRP"
  styleClass="p-datatable-gridlines p-datatable-striped"
  >
  <ng-template pTemplate="header">
      <tr>
          <th style="text-align: center;">Pressão</th>
          <th style="text-align: center;">Hora Inicial</th>
          <th style="text-align: center;">Hora Final</th>
          <th style="text-align: center;">Status</th>
          <th style="text-align: center;">Ações</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
      <tr>
          <td style="text-align: center;">{{item.pressao}}</td>
          <td style="text-align: center;">{{item.horaInicial}}</td>
          <td style="text-align: center;">{{item.horaFinal}}</td>
          <td style="text-align: center;">{{item.flStatus ? 'Ativa' : 'Inativa'}}</td>
          <td style="text-align: center;">
            <i class="pi pi-pencil cursorMouse" title="Editar" style="color: darkblue;"></i>
          </td>
      </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
        <td colspan="5">Sem informações a serem exibidas.</td>
    </tr>
  </ng-template>
  </p-table> -->

  <div style="text-align: right;">
    <br>
    <button pButton type="button" label="Cancelar" class="p-button-raised p-button-danger" (click)="CancelarOperacao();"></button>
  </div>
</div>
