<h1>CADASTRO VRP</h1>
<p-blockUI [blocked]="boolLoading"></p-blockUI>
<p-toast  position="top-center"></p-toast>

<div class="card">
  <div class="formgrid grid">
      <div class="field col-12 md:col-1 sm:col-1">
          <label for="idVRP">Id<span class="campoObrigatorio">*</span></label>
          <input disabled [(ngModel)]="objVRP.idVRP" id="idVRP" type="text" class="inputfield w-full" pInputText />
      </div>
      <div class="field col-12 md:col-3 sm:col-3">
          <label for="descricao">Descrição<span class="campoObrigatorio">*</span></label>
          <input [(ngModel)]="objVRP.descrVRP" id="descricao" type="text" class="inputfield w-full" pInputText />
      </div>
      <div class="field col-12 md:col-2 sm:col-2">
          <label for="modelo">Modelo<span class="campoObrigatorio">*</span></label>
          <input [(ngModel)]="objVRP.modelo" id="modelo" type="text" class="inputfield w-full" pInputText />
      </div>
      <div class="field col-10 md:col-5 sm:col-6">
          <label for="logradouro">Logradouro<span class="campoObrigatorio">*</span></label>
          <input [(ngModel)]="objVRP.logradouro" id="logradouro" type="text" class="inputfield w-full" pInputText />
      </div>
      <div class="field col-2 md:col-1 sm:col-2">
          <label for="numLog">Nº<span class="campoObrigatorio">*</span></label>
          <input [(ngModel)]="objVRP.numero" id="numLog" type="text" class="inputfield w-full" pInputText />
      </div>
      <div class="field col-12 md:col-2 sm:col-3">
          <label for="bairro">Bairro<span class="campoObrigatorio">*</span></label>
          <input [(ngModel)]="objVRP.bairro" id="bairro" type="text" class="inputfield w-full" pInputText />
      </div>
      <div class="field col-12 md:col-4 sm:col-4">
          <label for="cidade">Cidade<span class="campoObrigatorio">*</span></label><br>
          <p-dropdown id="cidade" [options]="lstCidade"
          [(ngModel)]="cidadeSelecionada" placeholder="Selecione"
          optionLabel="descCidade" [style]="{'width':'100%'}"
          [filter]="true" filterBy="descCidade"
          ></p-dropdown>
      </div>
      <div class="field col-12 md:col-2 sm:col-3">
          <label for="cep">CEP<span class="campoObrigatorio">*</span></label>
          <input [(ngModel)]="objVRP.cep" id="cep" type="text" class="inputfield w-full" [dropSpecialCharacters]="false" mask="00000-000" pInputText />
      </div>
      <div class="field col-12 md:col-2 sm:col-3">
          <label for="latitude">Latitude</label>
          <input [(ngModel)]="objVRP.latitude" id="latitude" type="number" class="inputfield w-full" pInputText />
      </div>
      <div class="field col-12 md:col-2 sm:col-3">
          <label for="longitude">Longitude</label>
          <input [(ngModel)]="objVRP.longitude" id="longitude" type="number" class="inputfield w-full" pInputText />
          <!-- <p-button label="P"></p-button> -->
      </div>
      <div class="field col-12 md:col-3 sm:col-4">
          <label for="cidade">Celular<span class="campoObrigatorio">*</span></label><br>
          <p-dropdown (onChange)="VerificaNumCelVRP();" id="celular" [options]="lstNumCelOper"
          [(ngModel)]="numCelOperSelecionado" placeholder="Selecione"
          optionLabel="numero" [style]="{'width':'100%'}"
          [filter]="true" filterBy="numero"
          ></p-dropdown>
      </div>
      <div class="field col-6 md:col-2 sm:col-2">
        <label for="tempoEnvioMinutos">Tempo<small> (min.)</small><span class="campoObrigatorio">*</span></label>
        <input [(ngModel)]="objVRP.tempoEnvioMinutos" id="tempoEnvioMinutos" type="number" class="inputfield w-full" pInputText />
      </div>
      <div class="field col-6 md:col-2 sm:col-2">
        <label for="fatorMultVaz">Fator mult.<span class="campoObrigatorio">*</span></label>
        <input [(ngModel)]="objVRP.fatorMultVaz" id="fatorMultVaz" type="number" class="inputfield w-full" pInputText />
      </div>
      <div class="field col-6 md:col-3 sm:col-4">
        <label for="fatorMultVaz">Status<span class="campoObrigatorio">*</span></label>
        <p-selectButton [options]="stateOptions" [(ngModel)]="objVRP.status" optionLabel="label" optionValue="value"></p-selectButton>
      </div>
  </div>
  <p><small><span class="campoObrigatorio">*</span> Campos Obrigatórios.</small></p>
</div>

<hr>

<div class="text-right">
  <button [disabled]="boolLoading" [routerLink]="['/home/gerenciarVRP']" routerLinkActive="router-link-active"  pButton icon="pi pi-times" type="button" class="p-button-raised p-button-danger" label="Cancelar" styleClass="p-mr-2"></button>
  &nbsp;<p-button [disabled]="boolLoading" (click)="Salvar()" class="p-button-raised" icon="pi pi-check" label="Salvar" styleClass="p-mr-2"></p-button>
</div>
<p-confirmDialog [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>

